@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Bungee+Outline&family=Bungee+Shade&display=swap');
html { 
  background-color: black;
}

/* 
font-family: 'Bungee', Arial, Helvetica, sans-serif;
font-family: 'Bungee Hairline', Arial, Helvetica, sans-serif;
font-family: 'Bungee Outline', Arial, Helvetica, sans-serif;
font-family: 'Bungee Shade', Arial, Helvetica, sans-serif;
*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  color: white;
  font-family: 'Bungee Hairline', Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Bungee Shade', Arial, Helvetica, sans-serif;
  text-align: center;
}